<!DOCTYPE html>
<html lang="en">

<%- include ('header/head-admin') %>

<body>

<!-- ======= Header ======= -->
<%- include ('header/header-admin') %>

<!-- ======= Sidebar ======= -->
<%- include ('navbar/navbar') %>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/product/info">Products</a></li>
                <li class="breadcrumb-item"><a href="/admin/product/info">Info Product</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Product Information</h5>
            <form method="get" action="/admin/product/search">
                <div class="input-group rounded">
                    <input type="text" name="keywordPro" class="form-control rounded" placeholder="Search"
                           aria-label="Search" aria-describedby="search-addon"/>
                    <span class="input-group-text border-0" id="search-addon">
                                <button type="submit"><i class="fas fa-search"></i></button>
                                </span>
                </div>
            </form>
            <table class="table">
                <tbody>
                <% products.forEach((product, index) => { %>
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2"><%= product.name %></h5>
                                <p class="font-italic text-muted mb-0 small"><%= product.detail %></p>
                                <span>idPro:</span> <b class="font-bold mb-0 medium"><%= product.idPro.name %></b>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">$ <%= product.price %> VND</h6>
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>

                                    </ul>
                                    <img src="<%= product.image1 %>" alt="Generic placeholder image" width="200"
                                         class="ml-lg-5 order-1 order-lg-2">
                                </div>
                                <a href="/admin/product/delete/<%= product._id%>" class="btn btn-danger">Delete</a>
                                <a href="/admin/product/update/<%= product._id%>" class="btn btn-primary">Update</a>
                            </div>
                        </div>
                    </li>
                <% }) %>
                </tbody>
            </table>
            <!-- End Table Variants -->
        </div>
    </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include ('footer/footer-admin') %>
</body>

</html>