<!DOCTYPE html>
<html lang="en">

<%- include ('header/head-admin')%>

<body>

<!-- ======= Header ======= -->
<%- include ('header/header-admin')%>

<!-- ======= Sidebar ======= -->
<%- include ('navbar/navbar')%>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Create Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item active">Create New Product</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create New Product</h5>

                        <!-- Multi Columns Form -->
                        <form class="row g-3" method="post" action="/admin/product/create" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <label for="inputName5" class="form-label">Name' Product</label>
                                <input type="text" name="namePro" class="form-control" id="inputName5" required>
                            </div>
                            <div class="col-md-6">
                                <label  class="form-label">Price</label>
                                <input type="number" name="pricePro" class="form-control"  required>
                            </div>
                            <div class="col-md-6">
                                <label  class="form-label">Amount</label>
                                <input type="number" name="amountPro" class="form-control" required>
                            </div>
                            <div class="col-12">
                                <label  class="form-label">Details</label>
                                <input type="text" name="detailPro" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label  class="form-label">Image 1</label>
                                <input type="text" name="imagePro1" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label  class="form-label">Image 2</label>
                                <input type="text" name="imagePro2" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">IdPro</label>
                                <select id="inputState" name="idPro" class="form-select">
                                    <% data.forEach((item,index)=> { %>
                                        <option value="<%= item._id%>" selected><%= item.name %></option>
                                    <%})%>
                                </select>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a type="button" href="/admin" class="btn btn-secondary">Back</a>
                            </div>
                        </form><!-- End Multi Columns Form -->

                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include ('footer/footer-admin')%>


</body>

</html>